
!assimp/code/**
!**/Obj/**
!**/obj/**

assimp/**/**.vcxproj**
assimp/**/**.Sln

assimp/**/CMakeCache.txt
assimp/**/cmake_*.cmake
assimp/**/CMakeFiles

**/Debug
**/Release

assimp/contrib/zlib/CTestTestfile.cmake